# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Sample'
    'submenu': [
      {
        'label': 'hello'
        'command': 'sample:hello'
      }
    ]
  }
]
